<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/build/static/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/build/css/index.css">
</head>
<body>
<div id="react"></div>

<script src="/build/static/jquery.min.js"></script>
<script src="/build/static//socket.io-1.4.5.js"></script>
<script src="/build/static/bootstrap.min.js"></script>
<script src="http://localhost:8080/bundle.js"></script>
<script>

</script>
</body>
</html>